<h2 class="page-header">Register</h2>
<form (submit)="onRegisterSubmit(registerForm)" #registerForm="ngForm">
  <mat-form-field>
    <input type="text" matInput ngModel #nameInput="ngModel" placeholder="Name" name="name" class="form-control">
  </mat-form-field>
  <mat-form-field>
    <input type="text" matInput ngModel #usernameInput="ngModel" placeholder="Username" name="username" class="form-control"
      required>
  </mat-form-field>
  <mat-form-field>
    <input type="text" ngModel matInput #emailInput="ngModel" placeholder="E-Mail" name="email" class="form-control"
      required email>
  </mat-form-field>
  <mat-form-field>
    <input type="password" matInput placeholder="Password" name="password" ngModel #passwordInput="ngModel" class="form-control"
      required>
  </mat-form-field>
  <button mat-raised-button color="accent" type="submit" [disabled]="passwordInput.errors || emailInput.errors || usernameInput.errors">Register</button>
</form>
