<mat-toolbar color="primary">
    <span><a [routerLink]="['/']" routerLinkActive="active" >MEAN CMS</a></span>
    <span class="spacer"></span>
    <ul>
      <li *ngIf="isLoggedIn"><a mat-button [routerLink]="['/admin']" routerLinkActive="mat-accent">Admin Area</a></li>
      <li *ngIf="isLoggedIn"><a mat-button [routerLink]="['/admin/posts/add']" routerLinkActive="mat-accent">New Post</a></li>
      <li *ngIf="!isLoggedIn"><a mat-button [routerLink]="['/admin/auth/login']" routerLinkActive="mat-accent">Login</a></li>
      <li *ngIf="!isLoggedIn"><a mat-button [routerLink]="['/admin/auth/register']" routerLinkActive="mat-accent">Register</a></li>
      <li *ngIf="isLoggedIn"><button (click)="onLogoutClick()" mat-button>Logout</button></li>
    </ul>
  </mat-toolbar>
