<h1>MEAN Authentication App</h1>
<p class="lead">Welcome to our custom MEAN authentication application built from scratch</p>
<div *ngIf="!isLoggedIn">
  <a mat-raised-button color="primary" [routerLink]="['/admin/auth/register']">Register</a>
  <a mat-raised-button color="primary" [routerLink]="['/admin/auth/login']">Login</a>
</div>
<div>
  <a mat-raised-button color="primary" [routerLink]="['/admin/posts']">View Posts</a>
  <a mat-raised-button color="primary" [routerLink]="['/admin/posts/add']">Add Post</a>
</div>
