<h2>Login</h2>
<mat-card>
  <form (submit)="onLoginSubmit(loginForm)" #loginForm="ngForm">
    <mat-form-field>
      <input matInput type="text" ngModel #usernameInput="ngModel" placeholder="Username" name="username" class="form-control"
        required>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" name="password" ngModel #passwordInput="ngModel" class="form-control"
        required>
    </mat-form-field>
    <button mat-raised-button color="accent" type="submit" [disabled]="passwordInput.errors || usernameInput.errors">Login</button>
  </form>
</mat-card>
